.article{
    border:10px solid black;
    background-color: burlywood;
    margin:50px;
    padding:20px;
    width:500px;
    box-shadow:10px 10px 10px gray;
}
.header{
    height:600px;
    background-color: aquamarine;
    /* background-image: url('../images/lee-DK7msqOZ9fI-unsplash.jpg'); */
    background-image: url('sea.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-position:center; */
       background-position:/* right bottom; */ top left;
}