/* External-style */
.second{
    border:2px solid teal;
}
.header{
    color: palevioletred;
    font-size:30px;
    text-align: center;
    font-style: italic;
}
li{
   list-style-position:inside;
}
.bg-img{
    border: 5px solid black;
    width:700px;
    height:500px;
    background-image: url('../images/national-gallery-of-art-UY9-UWEHXzM-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position:right top;*/
}
.css-box{
    border:5px solid bisque;
    width:500px;
    margin:50px;
    padding:30px;
    background-color: bisque;
    color: darkgoldenrod;
    box-shadow:10px 10px 30px 5px grey;
}
span{
    border:2px solid black;
    padding:40px;
    margin:40px;
    color: aqua;
    display: inline-block;
    /* display: none; */
       /* visibility: hidden; */
}