.blog{
    background-color: aquamarine;
}
.second-blog{
    background-color: palevioletred;
    /* display: none; */
    /* visibility: hidden; */
}
h2{
    text-decoration: underline;
}
span{
    color: darkgreen;
    border:2px solid orange;
    margin:20px;
    padding:50px;
    display: block;
}
li{
    display: inline;
}